# Exclude env/libs
.conda/
.venv/

# artifacts from 3rd party libraries
apicache-py3/*
**__pycache__**
*.egg-info

# Don't include secret stuff :)
**credential**
**pickle**

# Don't include testing notebooks
**ipynb**

# Actual Lua implementation of the game
*game_data*/*

# Output wiki pages
wiki_output/*

config.ini
.*resume

# pywikibots artifacts
apicache/
throttle.ctrl
