<noinclude>
[[Category:Data:TableDefinition]]
{% raw -%}
{{#cargo_declare:
{% endraw -%}
_table={{table_name}}
{{declare_args}}
{% raw -%}}}{%- endraw -%}
</noinclude>
<includeonly>
{% raw -%}{{#cargo_store:
{% endraw -%}
_table={{table_name}}
{{store_args}}
{% raw -%}}}{%- endraw -%}
</includeonly>