#REDIRECT [[{{name}}]]
[[Category:Data:Storage:{{table_name}}]]
{% raw -%}{{{% endraw -%}DISPLAYTITLE:{{name}}{% raw -%}}}{% endraw -%}

<noinclude>
{% raw -%}
{{{% endraw -%}{{template_name}}
{{args}}
{% raw -%}
}}{%- endraw -%}
{% raw -%}
{{{% endraw -%}{{template_table_index}}
|storedTable={{table_name}}
|name={{name}}
{% raw -%}}}{%- endraw -%}
</noinclude>