{% extends "game_data_generic.jinja" %}

{% block category %}GameData:Category{% endblock %}

{%- block content -%}
{% raw -%}
{{Category
{% endraw -%}
|race = {{ entity.race }}
|item-type = {{ item.type }}
|material-type = {{ item.material_type }}
|entity-type = {{ entity.type }}
## |unit-type = {{ category.unit_type }}
{% raw -%}
}}
{%- endraw -%}
{%- endblock -%}