{% extends "game_data_generic.jinja" %}

{% block category %}GameData:ComponentStatistics{% endblock %}

{% block content %}
{% raw -%}
{{ComponentStatistics
{% endraw -%}
|Name = {{component.name}}
|Energy = {{component.energy}}
|Size = {{component.size}}
|Range = {{component.range}}
|Speed = {{component.speed}}
|Faction = {{component.faction}}
{% raw -%}
}}
{% endraw %}
{% endblock %}