{% extends "game_data_generic.jinja" %}

{% block category %}GameData:EntityStats{% endblock %}

{% block content %}
{% raw -%}
{{Entity_Stats
{% endraw -%}
|name={{entity.name}}
|health={{entity.health}}
|power={{entity.power}}
|movement-speed={{entity.movement_speed}}
|visibility={{entity.visibility}}
|storage={{entity.storage}}
|size={{entity.size}}
|race={{entity.race}}
|entity-type1={{entity.entity_type1}}
|entity-type2={{entity.entity_type2}}
{% raw -%}
}}
{% endraw -%}
{% endblock %}