{% extends "game_data_generic.jinja" %}

{% block category %}GameData:EntityStats{% endblock %}

{% block content %}
{% raw -%}
{{Entity_Stats
{% endraw -%}
|name = {{entity.name}}
|health = {{entity.health}}
|power = {{entity.power_usage_per_tick}}
|movement-speed = {{entity.movement_speed}}
|visibility = {{entity.visibility}}
|storage = {{entity.storage}}
|size = {{entity.size}}
|race = {{entity.race}}
{% for i in range(2) -%}
|entity-type{{ i + 1 }} = {{ entity.types[i] if i < entity.types|length else "" }}
{% endfor -%}
|socket-l = {{entity.sockets.large_sockets}}
|socket-m = {{entity.sockets.medium_sockets}}
|socket-s = {{entity.sockets.small_sockets}}
|socket-i = {{entity.sockets.internal_sockets}}
{% raw -%}
}}
{% endraw -%}
{% endblock %}