{% extends "game_data_generic.jinja" %}

{% block category %}GameData:Recipe{% endblock %}

{%- block content -%}
{% raw -%}
{{Recipe
{% endraw -%}
|1={{ recipe.name }}
{% for i in range(4) -%}
|{{(i)*2+2}}={{ recipe.items[i].name if i < recipe.items|length else "" }}
|{{(i)*2+3}}={{ recipe.items[i].amount if i < recipe.items|length else "" }}
{% endfor -%}
{% for i in range(2) -%}
|{{i*2+10}}={{ recipe.producers[i].name if i < recipe.producers|length else "" }}
|{{i*2+11}}={{ recipe.producers[i].time if i < recipe.producers|length else "" }}
{% endfor -%}
{% raw -%}
}}
{%- endraw -%}
{%- endblock -%}